.form {
  width: 320px;
  padding: 10px;
  border: turquoise solid 1px;
  align-items: flex-end;
  .input-fields {
    width: 100%;
    .input-field {
      margin-bottom: 10px;
    }
  }
  .submit-btn {
    margin-top: 10px;
    width: 100px;
  }
}